#highlights {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  margin-top: 150px;
}

#highlights h2 {
  color: #fff;
  font-weight: 600;
  font-size: 3rem;
  text-align: center;
  max-width: 48rem;
  margin: 0 auto;
}

#highlights h3 {
  color: #F5F5F7;
  font-weight: 600;
  font-size: 1.25rem;
  text-align: center;
  margin-top: 2.5rem;
}

#highlights .masonry {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.25rem;
  margin-top: 5rem;
  color: #F5F5F7;
}

@media (min-width: 1024px) {
  #highlights .masonry {
    grid-template-columns: 1fr 1fr;
  }
}

#highlights .left-column,
#highlights .right-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.25rem;
  opacity: 0;
  transform: translateY(-20px);
}

#highlights .left-column div:first-of-type {
  height: 100%;
  background: url(/highlight-bg.png) no-repeat center/cover;
  padding: 2.5rem;
  border-radius: 1.5rem;
}

#highlights .left-column div:first-of-type p,
#highlights .left-column>p {
  font-weight: 600;
  font-size: 2.5rem;
  max-width: 20rem;
}

#highlights .left-column div:last-of-type {
  background: #1D1D1F;
  padding: 2.5rem;
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1.75rem;
}

#highlights .left-column div:last-of-type p {
  font-weight: 600;
  font-size: 1.5rem;
}

#highlights .right-column>p {
  font-weight: 600;
  font-size: 2.5rem;
  max-width: 20rem;
}

#highlights .apple-gradient {
  position: relative;
  padding: 2.5rem;
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1.75rem;
  background: #1d1d1f;
  border: 3px solid transparent;
}

#highlights .apple-gradient::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  margin: -5px;
  border-radius: 24px;
  background: linear-gradient(91deg, #0096ff 0%, #bb64ff 42%, #f2416b 74%, #eb7500 100%);
}

#highlights .apple-gradient p {
  font-weight: 600;
  font-size: 1.5rem;
}

#highlights .apple-gradient p span {
  background: linear-gradient(91deg, #0096ff 0%, #bb64ff 42%, #f2416b 74%, #eb7500 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#highlights .right-column div:last-of-type {
  height: 100%;
  background: #1D1D1F;
  padding: 2.5rem;
  border-radius: 1.5rem;
}

#highlights .right-column div:last-of-type p {
  font-weight: 600;
  font-size: 2.5rem;
  max-width: 32rem;
}

#highlights .right-column div:last-of-type .green-gradient {
  background: linear-gradient(90deg, #35a98a 0%, #6dd400 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}